.sideMenu {
  width: 50%;
  background-color: grey;
  position: absolute;
  display: block;
  z-index: 100;
  transition:.5s;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  position:absolute;
  right:calc(100% - 20px);
  height: 100%;
}
.sideMenu:hover {
  right:100% - 50%;
}
.bookForm {
  width: 50%;
  margin: auto;
  padding-top: 100px;
  padding-left: 20px;
}
